In [28]:
import itertools
import operator
import time
import pandas as pd
from itertools import groupby
from functools import reduce

In [3]:
l = [1, 2, 3, 4, 5, 6, 7]
for i, val in enumerate(itertools.accumulate(l)): # накопленная сумма
    print(f'{i}: {val}')

0: 1
1: 3
2: 6
3: 10
4: 15
5: 21
6: 28

In [5]:
for i, val in enumerate(itertools.accumulate(l, operator.mul)): # накопленная произведение
    print(f'{i}: {val}')

0: 1
1: 2
2: 6
3: 24
4: 120
5: 720
6: 5040

In [6]:
reduce(operator.mul, l) # последнее исполняемое дествие

5040

In [8]:
# Замерим время выполнения функции евхождения факториала тремя способами( два описанных выше и стандартный код)
# Определим декоратор
def timing_val(func):
    def wrapper(*arg, **kw):
        print(func.__name__, 'running')
        t1 = time.time()
        res = func(*arg, **kw)
        t2 = time.time()
        print(f'It took {t2-t1} second to run this code')

        return res
    return wrapper
"""
Реализуем факториал без цикла
"""
@timing_val
def factorial(n):
    *_, last = itertools.accumulate(range(1, n+1), operator.mul)
    return last

@timing_val
def factorial_r(n):
    return reduce(operator.mul, range(1, n+1))

@timing_val
def factorial_c(n):
    x = 1
    for x_ in range(2, n+1):
        x*=x_
    return x

In [ ]:
factorial(2000)
factorial_r(2000)
factorial_c(2000)

In [21]:
df1 = pd.DataFrame({'A': list(range(100)), 'I': list(range(100))})
df2 = pd.DataFrame({'B': list(range(100)), 'I': list(range(100))})
df3 = pd.DataFrame({'C': list(range(100)), 'I': list(range(100))})

reduce(lambda left, right: pd.merge(left, right, on= "I"), [df1, df2, df3])

     A   I   B   C
0    0   0   0   0
1    1   1   1   1
2    2   2   2   2
3    3   3   3   3
4    4   4   4   4
..  ..  ..  ..  ..
95  95  95  95  95
96  96  96  96  96
97  97  97  97  97
98  98  98  98  98
99  99  99  99  99

[100 rows x 4 columns]

In [22]:
l = [['first', 'second'], ['tird'], ['fouth', 'fifth', 'sixth']]
list(itertools.chain(*l))

['first', 'second', 'tird', 'fouth', 'fifth', 'sixth']

In [25]:
list(itertools.dropwhile(lambda x:x>4, [5, 6, 7, 8, 9, 4, 1, 2, 3])) # будет выбрасывать числа из списка, пока не дойдет до числа <=4

[4, 1, 2, 3]

In [27]:
list(itertools.takewhile(lambda x:x>4, [5, 6, 7, 8, 9, 4, 1, 2, 3])) # будет оставлять числа из списка, пока не дойдет до числа >=4 остальные выбросит

[5, 6, 7, 8, 9]

In [29]:
keyfunc = lambda x: 'нечетные' if int(x%2) else 'четные'
sequence = [i for i in range(10)]

sequence = sorted(sequence, key=keyfunc)

for group, nums in groupby(sequence, keyfunc):
    print(group, list(nums))

нечетные [1, 3, 5, 7, 9]
четные [0, 2, 4, 6, 8]

In [ ]:
pd.options.display.max_rows = 999
data = pd.read_csv('calories.csv')

meal = data['Fooditem']

data

In [31]:
# Комбинаторика -------------------------------------------
# 
list(itertools.product('ABCD', [1, 2, 3, 4]))

[('A', 1),
 ('A', 2),
 ('A', 3),
 ('A', 4),
 ('B', 1),
 ('B', 2),
 ('B', 3),
 ('B', 4),
 ('C', 1),
 ('C', 2),
 ('C', 3),
 ('C', 4),
 ('D', 1),
 ('D', 2),
 ('D', 3),
 ('D', 4)]

In [33]:
list(itertools.permutations('ABC'))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

In [34]:
print(list(itertools.combinations('ABC', 2)))
print(list(itertools.combinations_with_replacement('ABC', 2)))

[('A', 'B'), ('A', 'C'), ('B', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]